
@media only screen and (max-width: 1150px) {
    .logo{
        padding: 60px 60px;
    }
    .coming-soon-content{
        padding: 30px 60px;
    }
}
@media only screen and (max-width: 989px) {
    #error-img {
        right: 34%;
    }
}

@media only screen and (max-width: 850px) {
    .coming-soon{
        min-height: 100vh;
    }
    .logo {
        padding: 30px 60px;
    }
    .coming-soon-wrap{
        flex-direction: column;
    }
    .coming-soon-content {
        width: 100%;
        order: 2;
        text-align: center;
    }
    .coming-soon-content h1 span{
        display: block;
    }
    .coming-soon-img{
        width:100%;
        order:1;
    }
    .img-content {
        position: relative;
    }
    #responsive-image {
        content: url('../img/hero-mobile.jpg');
    }
    .img-content {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .logo {
        padding: 20px 60px;
    }
    .coming-soon-content h1, .coming-soon-content h1 span {
        font-size: 40px;
        line-height: 48px;
    }
    .coming-soon-content p {
        padding: 20px 0px;
    }
    #submit {
        top: 5px;
    }
    
}
@media only screen and (max-width: 575px) {
    .container{
        padding: 0px;
    }
    .logo{
        padding:20px;
    }
    .coming-soon-content{
        padding: 30px 20px;
    }
    .coming-soon-content h1, .coming-soon-content h1 span {
        letter-spacing: 3px;
    }
    #email {
        padding: 18px 10px;
        height: 25px;
        width:91%;
        font-size:13px;
    }
    #submit {
        padding: 19px 10px;
        height: 27px;
        width: 60px;
        margin-left: -43px;
        top: 16px;
    }
    #submit img {
        position: relative;
        top: -8px;
    }
    #error-img {
        top: 26%;
        right: 23%;
    }
}
    


